@import 'tailwindcss';

.root {
   overflow-x: hidden;
}

/* Hide scrollbar cross-browser but keep scroll functionality */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
   display: none;
}

/* Firefox */
* {
   scrollbar-width: none;
}
